<div class="container <%= controller_name %> <%= action_name %>" >
  <h2>Which city are you interested in?</h2>
  <div class="panel panel-default">
    <div class="panel-body">
    </div>
  </div>
</div>
