@import "bootstrap";

.subunit.PRX { fill: #a6cee3; }
.subunit.ESX { fill: #1f78b4; }
.subunit.ESI { fill: #1f78b4; }
.subunit.FXX { fill: #b2df8a; }
.subunit.FXC { fill: #b2df8a; }
.subunit.LUX { fill: #33a02c; }
.subunit.BWR { fill: #fb9a99; }
.subunit.BCR { fill: #fb9a99; }
.subunit.BFR { fill: #fb9a99; }
.subunit.SWE { fill: #e31a1c; }
.subunit.NOW { fill: #fdbf6f; }
.subunit.NJM { fill: #fdbf6f; }
.subunit.FIN { fill: #ff7f00; }
.subunit.EST { fill: #cab2d6; }
.subunit.LTU { fill: #6a3d9a; }
.subunit.LVA { fill: #ffff99; }
.subunit.POL { fill: #b15928; }
.subunit.DEU { fill: #cdc; }
.subunit.NLX { fill: #dcd; }

.city {
  fill: steelblue;
  fill-opacity: .6;
  stroke: #fff;
}
.label {
  font: 12px sans-serif;
}